.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: #a1ffb4;
  width: 500px;
  height: 400px;
  border-radius: 6px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}

.button {
  width: 100%;
  padding: 16px;
  margin-top: 12px;
  font-size: 16px;
  background-color: #07955a;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background-color: #d7fff8;
  color: #07955a;
}
